<px-card header-text="Failure Maint. Work-Order Generation" style="height:500px">
	<form>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Machine Code</label>
	    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Machine Code">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Work ID</label>
	    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Work ID">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Notes</label>
	    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Notes">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputFile">File input</label>
	    <input type="file" id="exampleInputFile">
	  </div>
	  
	  <div class="form-group">
	  	<button type="button" class="btn btn-primary btn-lg active">Save</button>
		<button type="button" class="btn btn-default btn-lg active">Submit</button>
		<button type="button" class="btn btn-default btn-lg active">Close</button>
	  </div>
	</form>
</px-card>
